.loading {
    width: 200px;
    height: 200px;
    width: 25vw;
    height: 25vw;
    vertical-align: middle;
    margin: 0 auto;
    text-align: center;
    background-size: cover;
}

.loading-ring {
    background-image: url('../img/icon/loading_ring.svg')
}

.main-content {
    min-height: 100vh;
    padding-top: 192px;
    margin-top: -192px;
    padding-bottom: 141px;
    margin-bottom: -141px;
}

footer.jumbotron {
    margin-bottom: 0px;
}

@media print {
    .no-print,
    header,
    footer {
        display: none!important;
    }
}